.examples-header {
    background-color : #004779;
    padding          : 10px 2px 10px 2px;
    color            : #ffffff;
    font-size        : 18px;
    font-weight      : bold;
}

.examples-header .x-btn-wrap.x-btn-arrow-right:after {
    display : none;
}

.examples-header .x-btn-arrow-right > .x-btn-icon.x-btn-no-text.x-btn-button {
    padding-right : 0;
}

.examples-header .x-btn {
    background-color : transparent;
    border           : none;
}

.examples-header .x-title-text {
    cursor: pointer;
}

.examples-header .x-title-text {
    background      : url(../KS_images/logo_bryntum_bw.png) no-repeat 13px center;
    background-size : 28px 28px;
    padding-left    : 55px;
}

.x-ie8 .examples-header .x-title-text {
    background: none;
}
